
<div id="header">
    <img src="/images/principal.jpg" />
</div>

<p>Clique para iniciar o acesso a internet.</p>

<p>
    <input id="login" type="button" class="red" value="Conectar" onclick="logar()" />
    <input type="button" class="red" value="Encerrar" onclick="location.href='authIndex'"/>
</p>