        <div id="upBackground">
            <div id="upLeft"></div>
            <div id="upRight"></div>
        </div>

        <h2>Condições de uso (Contrato)</h2>

        <ul class="form">
            <li>
                <label class="pp">
                    1)
                    <label class="clausula">
                        Estou ciente que este serviço é uma cortesia e esta sujeito a áreas de sombra com interrupções do sinal de internet.
                    </label>
                </label>
            </li>
            <li>&nbsp;</li>

            <li>
                <label class="pp">
                    2)
                    <label class="clausula">
                        Compreendo e condordo que minha navegação será monitorada e arquivada em forma de registros de navegação conforme a LEI 12.965 DE 23 DE ABRIL DE 2014 Marco Civil da Internet.
                    </label>
                </label>
            </li>
            <li>&nbsp;</li>

            <li>
                <label class="pp">
                    3)
                    <label class="clausula">
                        Concordo em não transgredir alguma lei vigente em nosso pais. Bem como não incomodar outros passageiros.
                    </label>
                </label>
            </li>
            <li>&nbsp;</li>

            <li>
                <label class="pp">
                    4)
                    <label class="clausula">
                        Concordo que sou responsável por qualquer desconforto que minha navegação possa ocasionar nos demais passageiros do veículo.
                    </label>
                </label>
            </li>
            <li>&nbsp;</li>

            <li>
                <label class="pp">
                    5)
                    <label class="clausula">
                        Compreendo que a empresa que esta oferecendo o acesso a internet via rede WI-FI não é responsável por vírus que meu equipamento possa captar durante a navegação.
                    </label>
                </label>
            </li>
            <li>&nbsp;</li>

        </ul>

        <div id="downBackground">
            <div id="downLeft"></div>

            <div id="downMid"></div>

            <div id="downRight"></div>
        </div>

        <h2>Contrato de utilização da internet</h2>

        <ul class="form">
            <li>
                <input type="button" class="red" value="Li e concordo com os termos do serviço" onclick="location.href='access'" />
            </li>
            <li>&nbsp;</li>
        </ul>
